body {
	font-family: Arial;
}

header {
	background-color: gray;
	position: relative;
	border-bottom: 1px solid black;
}

header .header-content {
	position: relative;
	width: 960px;
	margin: 0 auto;
	text-align: right;
}

header .header-content h1 {
	float: left;
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

header .header-content nav {
	padding-top: 25px;
}

header .header-content nav a {
	color: white;
	text-decoration: none;
}

main {
	width: 960px;
	margin: 0 auto;
	clear: both;
}

main aside {
	width: 100px;
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
}

main .content {
	width: 830px;
	float: left;
	padding-left: 15px;
	border-left: 1px solid black;
	padding-top: 15px;
	padding-bottom: 15px;
}

main .content p {
	margin-top: 10px;
	line-height: 1.5em;
}

main .content span {
	float: left;
	width: 35px;
	font-size: 55px;
	line-height: 48px;
}

main .content .article-nav {
	margin-top: 15px;
}

main .content .previous {
	float: left;
}

main .content .next {
	float: right;
}

footer{
	background-color: gray;
	border-top: 1px solid black;
}

footer .footer-content {
	width: 960px;
	margin: 15px auto;
	padding-bottom: 15px;
}

footer p {
	float: left;
}

footer time {
	float: right;
}

/* Personal CSS END */
.clearfix { display: inline-block; }
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */