.container {
	width: 960px;
	margin: 0 auto;
}

/* Personal CSS END */
.clearfix { display: inline-block; }
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */